.front-page-img {
    background: url('../img/index/frontpage.jpg'); 
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front-page-img-cover {
    height: 500px;
}

.img-box-setup {
    height: 500px;
    background-color: red;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
}

.img-food-area {
    background: url('../img/index/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 16.666667%;
}

.img-drink-area {
    background: url('../img/index/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8.333333%;
}

.img-gallery-area {
    background: url('../img/index/gallery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8.333333%;
}

.img-box {
    color: white;
    transition-duration: 1s;
}

.minigalleryimg {
    max-width: 150px;
}

.galleryimg {
    background: url('../img/index/2.jpg');
    background-position: center;
    background-size: cover;
    margin: 10px;
    border: 2px solid #b49a69;
}

.galleryimg2 {
    background: url('../img/index/3.jpg');
    background-position: center;
    background-size: cover;
    margin: 10px;
    border: 2px solid #b49a69;
}

.galleryimg3 {
    background: url('../img/index/4.jpg');
    background-position: center;
    background-size: cover;
    margin: 10px;
    border: 2px solid #b49a69;
}

.galleryimg4 {
    background: url('../img/index/5.jpg');
    background-position: center;
    background-size: cover;
    margin: 10px;
    border: 2px solid #b49a69;
}

.button-boxes-padded {
    border: 1px solid #b49a69;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.80);
}

.padding-for-img-box {
    padding-top: 250px;
}

/* HOVER */

.img-box:hover {
    background-color: rgba(0, 0, 0, 0.10);
    transition-duration: 1s;
}



/* MEDIA */

@media only screen and (max-width: 320px) {
    .front-page-img {
        background: url('../img/index/frontpage.jpg'); 
        height: 340px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .front-page-img-cover {
        height: 340px;
    }
}

@media only screen and (max-width: 767px) {

    .img-food-area {
        background: url('../img/index/food.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px !important;
    }
    .img-drink-area {
        background: url('../img/index/drink.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px !important;
    }
    .img-gallery-area {
        background: url('../img/index/gallery.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px !important;
    }

}